<ion-content>
      <ion-refresher  refreshing-icon="bubbles">
        <!--refreshing-icon=""-->
    <ion-refresher-content  [refreshingText]="refreshTxt"
     pullingIcon="arrow-dropdown"
      pullingText="释放刷新"
      refreshingSpinner="circles"
      refreshingColor='red'
    ></ion-refresher-content>
  </ion-refresher>
  <section class="top-user-info">  
  <ion-img class="img-icon" width="85" height="85" [src]="haveUser" (click)="lookMyself()"></ion-img>   
<h3 class='usernameH3'><span class="user-name text-stroke-4" [attr.data-name]='User.username'  (click)="lookMyself()">{{User.username}}</span></h3>
    <p class="noMargin" ><span class="text-stroke-4"  (click)="toMyMoney()" data-name="我赚的米：">我赚的米：</span><span class="money text-stroke-4" *ngIf="showUser"  (click)="toMyMoney()" [attr.data-name]="'￥'+User.porfit">￥{{User.porfit}}</span></p>
  </section>
  <ion-slides #slic class="mlm-slide" *ngIf="showslide" autoplay="3000" loop>
    <ion-slide  *ngFor="let slie of slides">
      <img [src]="slie.adimg" />
    </ion-slide>    
  </ion-slides>

  <section>
    <!--1-->
    <div class="position" *ngIf="showPting">
      <div class="hr-img">
        <span class="text-stroke-4" data-name="我发起的团">我发起的团</span>
      </div>
    </div>
     
    <!--2-->
    <div class="list-box fqdt">
      <div class="item" *ngFor="let itema of Pting;let i=index">
        <div class="left-image-box">
          <div class='imgBox' ><img width="110" height="155" (click)="toGoodsInfo(itema.goods.id)" [src]="itema.imgpath"></div>        
          <p class="start">开：<span>{{itema.start_time*1000 | date:'yy-MM-dd'+" "+'hh:mm:ss'}}</span></p>
          <p class="end">结：<span>{{itema.start_time*1000+itema.goods.xgdays*24*3600*1000+""| date:'yy-MM-dd'+" "+'hh:mm:ss'}}</span></p>
        </div>
        <div class="right-content">
          <div class="title">
            <h4>{{itema.goods.name}}</h4>
            <span class="describe">{{itema.attname}}</span>
          </div>
          <div class='state-bar'><span class="icon-state"></span></div>
          <p class="describe-scj">宝贝市场价：<span>￥{{itema.goods.price}}</span></p>
          <p class="describe-scj">需要支持人数：<span>{{itema.goods.supportnum}}</span>人</p>
          <div class="btn-tools">
            <div class="btn" (click)="goToPage('showme',itema.goods.id,itema.id)">
              <ion-icon name="mlm_hmBtn1" ></ion-icon>
              谁看了我
            </div>
            <div class="btn" (click)="goToPage('wholookme',itema.goods.id,itema.id)">
             <ion-icon name="mlm_hmBtn2"></ion-icon>
              支持了我
            </div>
            <div class="btn" (click)="goToPage('invitation',itema.goods.id,itema.id)">
              <ion-icon name="mlm_hmBtn3"></ion-icon>
              邀请好友
            </div>
            <div class="btn" (click)="goToPage('contact',itema.goods.id,itema.id)">
              <ion-icon name="mlm_hmBtn4"></ion-icon>
              继续开团
            </div>
          
          </div>
         <div class="progress-bar">
            <span>参团人数：</span>
            <div class="progress">
              <span [style.width]="(itema.supportTotal/itema.goods.supportnum)">{{(itema.supportTotal/itema.goods.supportnum)|percent:'1.0-1'}}</span>
            </div>

          </div>
              <a class="link float-left" (click)="ptRule()">米拉米拼团规则</a>
          <a class="link float-right" (click)="toStrategy()">成功拼团攻略</a>
        </div>
      </div>
    </div>

    <!--3-->
    <div class="position" *ngIf="hotTeam" #itemHH>
      <div class="hr-img">
        <span class="text-stroke-4" data-name="预热的团">预热的团</span>
      </div>
    </div>
    <!--4-->
<div class="list-box">
  <div class="item" *ngFor="let hots of Hot;trackBy: trackByFn;">
      <div class="left-image-box">
  <div class='imgBox' ><img width="110" height="155" (click)="toGoodsInfo(hots.goods.id)" [src]="hots.imgpath"></div>  
      <p class="start">开：<span>{{hots.start_time*1000+""| date:'yy-MM-dd'+" "+'hh:mm:ss'}}</span></p>
      <p class="end">结：<span>{{hots.start_time*1000+hots.goods.xgdays*24*3600*1000+"" | date:'yy-MM-dd'+" "+'hh:mm:ss'}}</span></p>
    </div>
    <div class="right-content">
      <div class="clear">
        <div class="title">
          <h4>{{hots.goods.name}}</h4>
          <p class="describe">{{hots.attname}}</p>
        </div>
      </div>
      <p class="describe-scj">宝贝市场价：<span>￥{{hots.goods.price}}</span></p>
      <p class="describe-scj">需要支持人数：<span>{{hots.goods.supportnum}}</span>人</p>
      <button class="link-pt-bg" (click)="callFrinds(hots.id)">邀请好友来拼团</button>
      <a class="link float-left" (click)="ptRule()">米拉米拼团规则</a>
      <a class="link float-right" (click)="toStrategy()">成功拼团攻略</a>
    </div>
  </div>
  </div>



   <!--4-->
    <div class="position"  *ngIf="showTuiJian">
      <div class="hr-img">
        <span class="text-stroke-4" data-name="推荐的团">推荐的团</span>
      </div>
    </div>
  <div class="list-box">
      <div class="item" *ngFor="let itemb of items;trackBy: trackByFn;">
         <div class="left-image-box">
      <div class='imgBox' ><img width="110" height="155" (click)="toGoodsInfo(itemb.id)" [src]="itemb.goodsimg"></div>  
        </div>
        <div class="right-content">
          <div class="clear">
            <div class="title">
              <h4>{{itemb.name}}</h4>
              <p class="describe">{{itemb.attname}}</p>
            </div>
          </div>
          <p class="describe-scj">宝贝市场价：<span>￥{{itemb.price}}</span></p>
          <p class="describe-scj">需要支持人数：<span>{{itemb.supportnum}}</span>人</p>
          <button class="link-pt-bg" (click)="toGoodsInfo(itemb.id)">我要开团</button>
          <a class="link float-left" (click)="ptRule()">米拉米拼团规则</a>
          <a class="link float-right" (click)="toStrategy()">成功拼团攻略</a>
        </div>
      </div>
      </div>
  </section>
 <div class="showMg" *ngIf="showmg">{{moreInfo}}</div>


 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasmore">
   <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      [loadingText]="moreInfo"
   ></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
