@font-face {
    font-family: "FZY4JW1";
    src: url("/fonts/FZY4JW1.eot"); /* IE9 */
    src: url("/fonts/FZY4JW1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/FZY4JW1.woff") format("woff"), /* chrome, firefox */
    url("/fonts/FZY4JW1.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/FZY4JW1.svg#FZY4JW1") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


